*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 20px 5px 30px 5px;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(38, 38, 38);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-bottom: 20px;
}

form > :first-child,
form > :nth-child(2) {
  margin-bottom: 10px;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.note > *:not(button) {
  margin-bottom: 10px;
}

.note > button {
  padding: 5px 10px;
}
